[submodule "code/external/rapidjson"]
	path = code/external/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "code/external/freetype2"]
	path = code/external/freetype2
	url = http://git.savannah.gnu.org/r/freetype/freetype2.git
[submodule "code/external/tinycc"]
	path = code/external/tinycc
	url = https://github.com/code4game/tinycc
[submodule "code/external/libpng"]
	path = code/external/libpng
	url = http://git.code.sf.net/p/libpng/code
